@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --button-blue: #C0DFFD;
    --background-grey: #F2F2F2;
    --button-grey: #FAFAFA
}

.font-exo {
    font-family: "Exo", sans-serif;
}

.text-clamping-lg {
    font-size: clamp(1rem, 10vw, 2rem);
}

.text-clamping-mid {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.text-clamping-sm {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

/*!*For testing only!!! set all borders to red*!*/
/**{*/
/*    border: red dotted 1px;*/
/*}*/
.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-absolute-vertical {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-grey);
    border-radius: 100px;
}