.loader {
    --color: rgba(255, 255, 255, 0.5);
    --size-mid: 6vmin;
    --size-dot: 1.5vmin;
    --size-bar: 0.4vmin;
    --size-square: 6vmin;
    position: relative;
    width: 50%;
    display: grid;
    place-items: center;
}

.loader::before,
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
}

.item	{
    background: rgb(208, 212, 218);
    display: grid;
    place-items: center;
    border-radius: 4px;
    transition: opacity 0.4s ease;
    /*box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;*/
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

/**
	loader --7
**/
.loader.--7::before,
.loader.--7::after {
    border: rgba(0, 0, 0, 0.2) solid 1px;
    width: var(--size-square);
    height: var(--size-square);
    background-color: var(--color);
    border-radius: 5px;
}

.loader.--7::before {
    top: calc(50% - var(--size-square));
    left: calc(50% - var(--size-square));
    animation: loader-6 3s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loader.--7::after {
    top: 50%;
    left: 50%;
    animation: loader-7 3s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader-7 {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%) translateY(-100%);
    }

    75% {
        transform: translateY(-100%);
    }
}

@keyframes loader-6 {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%) translateY(100%);
    }

    75% {
        transform: translateY(100%);
    }
}